* text=auto !eol
/Makefile -text
/adc_driver.c -text
/adc_driver.h -text
/avr_compiler.h -text
/can_handler.c -text
/can_handler.h -text
/config.h -text
/dma_driver.c -text
/dma_driver.h -text
/error_handler.c -text
/error_handler.h -text
/event_system_driver.c -text
/event_system_driver.h -text
/led_driver.c -text
/led_driver.h -text
/main.c -text
/powermeter_driver.c -text
/powermeter_driver.h -text
/rtc_driver.c -text
/rtc_driver.h -text
/tc_driver.c -text
/tc_driver.h -text
test_xplain/Makefile -text
test_xplain/adc_driver.c -text
test_xplain/adc_driver.h -text
test_xplain/adc_driver_asm.S90 -text
test_xplain/avr_compiler.h -text
test_xplain/main.c -text
/ursartC1_driver.c -text
/ursartC1_driver.h -text
